.img{
    background-image: url("images/stair.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.img h1{
    color:white;
    font-family: 'Lato',sans-serif;
    font-size:40px;
    margin-bottom:0
}
.img h2{
    color:white;
    font-family: 'lato', sans-serif;
    font-size:30px;
    margin-top: 0;
}
.img p{
    color:white;
    margin-top:-10px;
    font-size:20px;
}
.about{
    text-align: center;
    font-size:14px;
}
.about p{
    font-size:20px;
}
.serve{
    background-image:url("images/services.jpg");
    background-size: cover;
    height:40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.serve h1{
    color:white;
    margin-top:0;
}
.serve p{
    font-size: 20px;
}

.serve p{
    color:white;
}
.img #image{
 position: relative;
 top: 130px   
}
img{
    vertical-align: below;
}
.services{
    background-image: url("images/contact\ .jpg");
    background-size: cover;
    height: 60vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services{
 color: white;
}
input{
    background-color: rgba(255, 255, 255, 0);
}
::placeholder{
    color:white;
}
.text{
    background-color:rgba(255, 255, 255, 0);
    position:relative;
    top: 40px;
    right:390px;
    height:150px;
    width: 600px
}
.name{
    position: relative;
    right: 20px;
    width: 300px
}
.{
    position: relative;
    left: 20px;
    width: 300px;
    
}
textarea:focus, input:focus {
    color: #fff6f6;
    font-size: 17px
}
.move{
    position: relative;
    left: 80px
}
.pos{
    color: white;
    left:218px;
    bottom: 130px;
}
.foot{
    text-align: center;
    font-size: 10px
}
.column{
    width: 9px;
    padding: 7px
}
.sub{
    position: relative;
    right: 60px;
    width: 600px;
    color: white;
}
.form-control::placeholder{
    color: white;
}
.num{
    position: relative;
    top: 50px
}
.name{
    position: relative;
    right: 60px;
    width: 300px
}
.mail{
    position: relative;
    width: 288px;
    left: 30px
}
h4{
    text-align: center;
}
.items img{
    position: relative;
    left:180px
}
.items h5{
    text-align: center;
}
.icons{
    position: relative;
    left: 440px;
    top:15px;
    padding: 13px;
}