.img{
    background-image: url("images/stair.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.img h1{
    color:white;
    font-family: 'Lato',sans-serif;
    font-size:40px;
    margin-bottom:0
}
.img h2{
    color:white;
    font-family: 'lato', sans-serif;
    font-size:30px;
    margin-top: 0;
}
.img p{
    color:white;
    margin-top:-10px;
    font-size:20px;
}
.about{
    text-align: center;
    font-size:14px;
}
.about p{
    font-size:20px;
}
.serve{
    background-image:url("images/services.jpg");
    background-size: cover;
    height:40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.serve h1{
    color:white;
    margin-top:0;
}
.serve p{
    font-size: 20px;
}

.serve p{
    color:white;
}
.img #image{
 position: relative;
 top: 130px   
}
img{
    vertical-align: below;
}
.services{
    background-image: url("images/contact\ .jpg");
    background-size: cover;
    height: 30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services{
 color: white;
}
input{
    background-color: rgba(255, 255, 255, 0);
}
::placeholder{
    color:white;
}
.text{
    background-color:rgba(255, 255, 255, 0);
    justify-content: center;
}